@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Manrope:wght@200;300;400;500;600;700;800&family=Open+Sans:wght@600&family=Raleway&family=Roboto:wght@300;400;700&display=swap");

.about {
  background: #fff;
  margin-top: 60px;
  width: 100%;
  margin-bottom: 190px;
}

.about__info {
  background-color: #b3d9f6;
}

.about__info__content {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  position: relative;
}

.about__info__content__text {
  width: 50%;
  height: 100%;
  padding: 50px;
  text-align: left;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.about__info__content__text h2 {
  color: #000;
  text-align: left;
  font-family: Lato;
  font-size: 40px;
  font-style: normal;
  font-weight: 900;
  line-height: 40px; /* 80% */
  letter-spacing: 1px;
}

.about__info__content__text p {
  width: 70%;
  padding-top: 30px;
  color: #000;
  text-align: center;
  font-family: Lato;
  font-size: 15px;
  font-style: normal;
  font-weight: 300;
  line-height: 25px; /* 114.286% */
  letter-spacing: 1px;
}

.about__info__content__img {
  width: 50%;
  height: 100%;
  padding: 50px;
}

.about__info__content__img p {
  width: 70%;
  padding-top: 30px;
  color: #000;
  text-align: center;
  font-family: Lato;
  font-size: 15px;
  font-style: normal;
  font-weight: 300;
  line-height: 25px; /* 114.286% */
  letter-spacing: 1px;
}

.about__info svg {
  margin-top: -200px;
  margin-bottom: -20px;
  margin-left: -180px;
}

.about__team {
  margin-top: -190px;
  padding: 0 20px;
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.about__team h2 {
  margin-right: auto;
  color: #000;
  padding-left: 5%;
  font-family: Raleway;
  font-size: 25px;
  font-style: normal;
  font-weight: 500;
  text-decoration: underline;

  line-height: 30px; /* 250% */
  letter-spacing: 2px;
}

.about__team__cards {
  margin-top: 10px;
  width: 90%;

  display: flex;
  flex-wrap: wrap;
}

.about__team__cards__card {
  border-radius: 10px;
  background: #fff;
  box-shadow: 0px 2px 5px -2px #000000ac;

  height: 320px;
  width: 240px;
  padding: 10px;
  margin: 30px;
}

.about__team__cards__card-img {
  background-color: #b3d9f698;
  box-shadow: 0px 1px 3px 1px #00000041;
  border-radius: 50%;
  margin: 5px;
  padding: 5px;
  height: 240px;
}

.about__team__cards__card-img img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.about__team__cards__card-info {
  margin: 15px 10 v px;
}

.about__team__cards__card-info p {
  color: #000;
  font-family: Roboto;
  font-size: 25px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.about__team__cards__card-info span {
  color: #000;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
}

.about__goals {
  margin-top: -190px;
  margin-bottom: -190px;
}

.about__goals h2 {
  margin-top: -100px;
  padding: 0 70px;

  color: #ff0048;
  font-family: Open Sans;
  font-size: 42px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 114.286% */
  letter-spacing: 2px;
}

.about__goals__content {
  background-color: #b3d9f6;
  margin-top: -8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about__goals__content-img {
  width: 50%;
  height: 100%;
}

.about__goals__content-img img {
  width: 80%;
  height: 80%;
}

.about__goals__content-text {
  width: 50%;
  height: 100%;
}

.about__goals__content-text p {
  color: #000;
  font-family: Lato;
  font-size: 22px;
  font-style: normal;
  font-weight: 300;
  line-height: 35px; /* 114.286% */
  letter-spacing: 1px;
  padding: 10%;
}

@media (max-width: 480px) {
  .about__info__content {
    flex-direction: column;
  }

  .about__info__content__text {
    width: 80%;
  }

  .about__info__content__text p {
    width: 100%;
    font-size: 14px;
  }

  .about__info__content__img {
    width: 80%;
    margin-top: -90px;
  }

  .about__info__content__img p {
    width: 100%;
    font-size: 14px;
  }

  .about__team {
    margin-top: -20px;
  }

  .about__team h2 {
    font-size: 20px;
  }

  .about__goals {
    margin-top: 10px;
  }

  .about__goals h2 {
    font-size: 37px;
  }

  .about__goals__content {
    flex-direction: column;
    padding-bottom: 20px;
  }

  .about__goals__content-img {
    width: 100%;
  }

  .about__goals__content-text {
    width: 80%;
  }

  .about__goals__content-text p {
    font-size: 15px;
    line-height: 28px;
  }
}
