@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Manrope:wght@200;300;400;500;600;700;800&family=Open+Sans:wght@600&family=Roboto:wght@300;400;700&display=swap");

.contact {
  background: #e8f1fc;
  margin-top: 60px;
  display: flex;
  width: 100%;
  height: 650px;
  display: flex;
}

.contact__img {
  background-color: inherit;
  width: 50%;
}

.contact__img img {
  width: 100%;
}

.contact__form {
  background-color: inherit;
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact__form h2 {
  margin-left: 15px;
  color: #000;
  font-family: Roboto;
  font-size: 35px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.contact_form__labelGroup {
  display: flex;
  justify-content: space-between;
}

/* .contact_form__labelGroup label {
  
} */

.contact__form label {
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  text-transform: uppercase;
  color: #000;
  font-family: Arial;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: 0 15px;
}

.contact__form input {
  padding: 13px;
  width: 95%;
  margin-top: 15px;

  border-radius: 10px;
  border: 0.15px solid #22397a96;
  background: rgba(208, 223, 240, 0.75);
  color: #000;
  font-family: Arial;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.contact__form textarea {
  width: 95%;
  margin-top: 15px;
  padding: 10px 20px;
  border-radius: 10px;
  border: 0.15px solid #22397a96;
  background: rgba(208, 223, 240, 0.75);
  color: #000;
  font-family: Arial;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.contact__form input[type="submit"] {
  margin-left: 15px;
  border-radius: 10px;
  width: 98%;
  background: #6fb14a;
  color: #fff;
  font-weight: 500;
  font-size: 25px;
}
