@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Manrope:wght@200;300;400;500;600;700;800&family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Manrope:wght@200;300;400;500;600;700;800&family=Open+Sans:wght@600&family=Roboto:wght@300&display=swap");

.home {
  margin-top: 60px;
}

.hero {
  background-color: white;
  max-width: 100%;
  height: 500px;
  display: flex;
  align-items: center;
}

.hero_textBox {
  background-color: inherit;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero__text {
  background-color: #334875;
  width: 50%;
  margin: 30px;
  padding: 30px;
  border-radius: 50px;
}

.hero__text h1 {
  background-color: inherit;
  text-shadow: 1px 1px 1px #000;
  color: #fff;
  font-family: Lato;
  font-size: 30.503px;
  font-style: normal;
  font-weight: 900;
  line-height: 38.685px; /* 114.545% */
}

.hero__text p {
  background-color: inherit;
  margin: 10px 0;
  padding: 15px 0;
  color: #ffffffb0;
  font-family: Lato;
  font-size: 20.183px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.hero__text__buttons {
  background-color: inherit;
  display: flex;
  justify-content: space-between;
}

.hero__text__buttons .a {
  background-color: inherit;
  color: #fff;
}

.hero__text__buttons .button {
  background-color: white;
  text-decoration: none;
  color: #334875;
  text-transform: uppercase;
  font-family: Lato;
  font-weight: 700;
  padding: 10px;
  border-radius: 12px;
}

.hero__img {
  background-color: inherit;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 500px;
}

.hero__img img {
  height: 100%;
  width: 80%;
}

.info {
  background-color: #e0e5ee;
  max-width: 100%;
  height: 500px;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
}

.info__textbox {
  background-color: inherit;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.info__textbox__text {
  background-color: inherit;
  width: 60%;
  margin: 30px;
  padding: 30px;
  border-radius: 25px;
}

.info__textbox__text span {
  color: #334875;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 23px; /* 115% */
  letter-spacing: 1px;
  text-transform: uppercase;
}

.info__textbox__text h2 {
  color: #000;
  font-family: Lato;
  font-size: 34px;
  font-style: normal;
  font-weight: 900;
  line-height: 38px; /* 132.5% */
}

.info__textbox__text p {
  color: #2a3037;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  padding-top: 10px;
  line-height: 25px; /* 150% */
}

.info__img {
  background-color: inherit;
  width: 50%;
  display: flex;
  align-items: center;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.info__img img {
  height: 80%;
  width: 80%;
}

.tut {
  background-color: #fff;
  max-width: 100%;
  height: 500px;
  display: flex;
  align-items: center;
}

.tut__textbox {
  background-color: inherit;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tut__textbox__text {
  background-color: inherit;
  width: 60%;
  margin: 30px;
  padding: 30px;
  border-radius: 25px;
}

.tut__textbox__text h3 {
  color: #000;
  font-family: Lato;
  font-size: 34px;
  font-style: normal;
  font-weight: 900;
  line-height: 38px; /* 132.5% */
}
.tut__textbox__text p {
  color: #2a3037;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  padding-top: 10px;
  line-height: 25px; /* 150% */
}

.tut__video {
  background-color: inherit;
  width: 50%;
  display: flex;
  align-items: center;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tut__video img {
  height: 80%;
  width: 80%;
}

.userExp {
  background-color: inherit;
  padding-top: 20px;
}

.userExp__heading {
  display: flex;
  align-items: center;
  justify-content: center;

  color: #000;
  text-align: center;
  font-family: Lato;
  font-size: 24px;
  font-style: normal;
  font-weight: 900;
  line-height: 20px; /* 36.364% */
  letter-spacing: 1px;
}

.userExp__cards {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.ratingCard {
  box-shadow: -1px 0px 3px 0px rgb(0 0 0 / 40%);
  border-radius: 10px;
  width: 250px;
  height: 250px;
  margin: 30px;
  padding: 30px;
  background-color: #334875;

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.ratingCard h3 {
  color: #ffffff;
  text-align: center;
  font-family: Lato;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px; /* 76.923% */
  letter-spacing: 1.5px;
}

.ratingCard p {
  padding: 30px 0;
  color: #ffffff;
  text-align: center;
  font-family: Lato;
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  line-height: 20px; /* 100% */
  letter-spacing: 1.5px;
}


.ratingCard img {
  width: 160px;
  height: 50px; 
  object-fit: cover; /* This property is optional and determines how the image is resized to fit its container */
  padding-top: 10px;
}

.ratingCard span {
  color: #000;
  text-align: center;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 20px; /* 100% */
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

.services {
  background-color: inherit;
  text-align: center;
  padding: 30px 0;
  background-color: #e0e5ee;
}

.services h2 {
  color: #000;
  text-align: center;
  font-family: Lato;
  font-size: 35px;
  font-style: normal;
  font-weight: 900;
  line-height: 34px; /* 33.333% */
  letter-spacing: 1.5px;
}

.services__cards {
  display: flex;
  flex-wrap: wrap;
  margin: 0 50px;
  justify-content: center;
}

.serviceCard {
  box-shadow: -1px 0px 3px 0px rgb(0 0 0 / 40%);
  border-radius: 10px;
  background-color: #fff;
  width: 170px;
  height: 170px;
  margin: 30px;
  padding: 30px;
}

.serviceCard h3 {
  color: #334875;
  text-align: center;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 900;
  line-height: 18px; /* 66.667% */
  letter-spacing: 1.5px;
}

.serviceCard p {
  color: #000;
  text-align: center;
  font-family: Lato;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px; /* 120% */
  letter-spacing: 1.5px;
  padding: 35px 0;
}

@media (max-width: 480px) {
  .hero {
    flex-direction: column;
  }

  .hero_textBox {
    width: 100%;
  }

  .hero__text {
    width: 70%;
    border-radius: 20px;
    box-shadow: -1px 4px 4px 2px #0000004f;
  }

  .hero__text h1 {
    font-size: 20px;
    line-height: 22px;
  }

  .hero__text p {
    font-size: 14px;
    padding: 10px 0;
  }

  .hero__text__buttons .a {
    font-size: 12px;
  }

  .hero__text__buttons .button {
    font-size: 12px;
    font-weight: 800px;
  }

  .hero__img {
    width: 100%;
  }

  .info {
    margin-top: 120px;
    flex-direction: column;
  }
  .info__textbox {
    width: 100%;
  }
  .info__textbox__text {
    width: 90%;
    padding: 20px;
  }

  .info__textbox__text span {
    font-size: 14px;
  }

  .info__textbox__text h2 {
    font-size: 20px;
    line-height: 26px;
  }

  .info__textbox__text p {
    font-size: 14px;
    line-height: 22px;
  }

  .info__img {
    margin-top: -50px;
    width: 100%;
  }

  .tut {
    margin-top: 120px;

    flex-direction: column;
  }

  .tut__textbox {
    width: 100%;
  }

  .tut__textbox__text {
    width: 90%;
    padding: 20px;
  }

  .tut__textbox__text p {
    font-size: 14px;
    line-height: 20px;
  }

  .tut__video {
    width: 100%;
  }

  .userExp__heading {
    margin-top: 70px;
    font-size: 16px;
  }

  .reqCall h1 {
    font-size: 25px;
  }

  .reqCall .input {
    width: 80%;
  }

  .reqCall .callback {
    width: 50%;
    margin-left: 10px;
    margin-top: 20px;
  }

  .services h2 {
    font-size: 30px;
  }

  .services__cards {
    margin: 0 10px;
  }

  .serviceCard {
    margin: 0px;
    margin-top: 20px;
    width: 60%;
  }
}
