<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HMS - API</title>
</head>

<body>
    <div
        style="width: 100%; height: 700px; display: flex; justify-content: center; align-items: center; background-color: darkslategrey; color: white;">
        <h1>
            Server is Up and Running
        </h1>
    </div>
</body>

</html>